@tailwind base;
@tailwind components;
@tailwind utilities;

.line_progress_animation {
  animation: line_progress_animation_function 0.5s linear forwards;
}
@keyframes line_progress_animation_function {
  0% {
    width: 0px;
  }

  100% {
    width: full;
  }
}

.section_heading {
  @apply mb-4 text-xl font-bold;
}

.card_style_1 {
  @apply p-4 bg-gray-800 rounded-md;
}
